nb-card {
  width: 30%;
}
.center-column {
  display: flex;
  margin: auto;
}

.center-form {
  text-align: center;
}
.logo {
  display: block;
  img {
    display: block;
    margin: 16px auto;
    width: 20em;
    height: auto;
  }
}
