.card-footer-agenda {
    display: flex;
    width: 100%;
}
.float-left{
    display: inline-block;
    /* display: flex;
    justify-content: end; */
}
.card-complete {
    height: 100% !important;
}